.heading {
  font-size: 1.5rem !important;
}

.sectionHeading {
  font-size: 1.35rem !important;
}

.labelName {
  font-size: 0.88rem !important;
  font-weight: 400 !important;
  line-height: 1.2 !important;
  color: #737373;
}

.labelValue {
  font-size: 1rem !important;
  font-weight: 600 !important;
  color: #063d55;
}

.listingLabelName {
  color: rgba(0, 0, 0, 0.54) !important;
  font-size: 0.88rem !important;
  line-height: 1.1 !important;
}

.listingLabelValue {
  color: rgba(0, 0, 0, 0.87) !important;
  // font-weight: 600 !important;
  font-size: 0.9rem !important;
}
