@font-face {
  font-family: Montserrat-Regular;
  src: url(../../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat-Medium;
  src: url(../../fonts/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Xolonium-Regular;
  src: url(../../fonts/Xolonium-Regular.ttf);
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url(../../fonts/Montserrat-SemiBold.ttf);
}


html {    
	font-family: Montserrat-Regular !important;
}
.versionSectionText {
  position: fixed;
  left: 20px;
  bottom: 5px;
  color: #666666;
  white-space: nowrap;
}
.versionSectionText span {
  font-size: 16px;
  padding-left: 15px;
}
.versionSectionText svg {
  vertical-align: bottom;
}
.headerAppsGrid {
  opacity: 1;
}

.headerAppsGrid .MuiMenu-list {
  display: grid;
  grid-template-columns: repeat(3, 90px);
  gap: 1rem;
  font-family: 'Montserrat';
}

.headerAppsGrid .MuiMenu-list .MuiListItem-root {
  flex-direction: column !important;
  font-size: 13px;
  font-family: Montserrat-Regular !important;
}
.MuiTab-root {
	font-family: Montserrat-Regular !important;
}
.MuiTypography-h5 {
	font-family: Xolonium-Regular !important;
	font-weight: 500;
  font-size: 1.3rem !important;
}
.MuiButton-label {
	font-family: Montserrat-Regular !important;
}
.MuiTypography-body1 {
	font-family: Montserrat-Regular !important;
}
.MuiTypography-body2 {
	font-family: Montserrat-Regular !important;
}
.MuiButton-root  {
	font-family: Montserrat-Regular !important;
}
.MuiButtonBase-root   {
	font-family: Montserrat-Regular !important;
}
.PersistentDrawer-floatL-3017 {
    font-size: 17px !important;
    font-family: Xolonium-Regular !important;
    font-weight: 500 !important;
}
/* .MuiTypography-h6 {
	font-family: Xolonium-Regular !important;
	font-weight: 500 !important;
} */
.MuiGrid-root.makeStyles-floatE-426.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-12.MuiGrid-grid-md-2 img {
    height: 44px;
}
span.makeStyles-mR10-2491 img {
    height: 44px;
}
.MuiFormLabel-root {
    font-family: Montserrat-Regular !important;
    color: #666666 !important;
    font-size: 15px;
}
.makeStyles-fullWidth-419 {
  width: 100%;
  margin: .2rem 0;
  box-shadow: inset 0px 0px 9px #dedede;
}
.MuiInputBase-root {
    color: rgba(0, 0, 0, 0.87);
    cursor: text;
    display: inline-flex;
    position: relative;
    font-size: 1rem;
    box-sizing: border-box;
    align-items: center;
    font-family: Open Sans,sans-serif;
    font-weight: 400;
    line-height: 1.1876em;
}
.MuiInputBase-root {
    font-family: Montserrat-Regular !important;
}
.MuiOutlinedInput-notchedOutline {
    border-color: rgba(0, 0, 0, 0.23);
}

.MuiTableCell-root {
   font-family: Montserrat-Regular !important;
}
.makeStyles-search-1484 {
  margin: 14px 2px 9px 0px !important;
  padding: 0px 0px !important;
  width: 100%;
}
.pr0 {padding-right:0px;}
@media (min-width: 600px) {
.search {
    width: 98% !important;
    margin-left: 8px;
}
}
.marginB15 {margin-bottom: 1rem;}
.marginR5 {margin-right: 0.5rem !important;}
.marginL5 {margin-left: 0.5rem !important;}

.performanceFactorTable table thead tr th:nth-last-child(1) {
  width: 130px;
}
.performanceFactorTable table thead tr th:nth-child(4) {
  width: 80px;
}
/*card attachment section*/
#long-menu .MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
  top: 380px!important;
  left: 85px!important;
  width: 92%!important;
} 
/*forms*/
html .custmCancelBtn {
  color: #06425C !important;
  background-color: #ffffff !important;
  margin-left: 5px;
  border: 1px solid #06425C !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
.custmCancelBtn:hover {
  background-color: #ff8533 !important;
  color: #ffffff !important;
  border: 1px solid #ff8533 !important;
}
.pL-10 {padding-left: 10px;}
.MuiTypography-h6 {
  font-size: 16px !important;
  font-family: Montserrat-SemiBold !important;
  font-weight: 500;
  line-height: 1.6;
}
.secionHeader {
  position: 'relative';
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat-SemiBold';
}
.mb10 {
  margin-bottom:10px;
}

.paperSection {
  padding: 16px;
  background-color: #ffffff;
  border: 1px solid #E7E7E7;
}
.cardSectionBottom {
  padding: 16px;
  background-color: #ffffff;
  border: 1px solid #E7E7E7;
  margin-bottom: 20px;
}
.sectionHeading {
  font-size: 16px !important;
  line-height: 19px;
  color: #06425C;
  font-family: Montserrat-SemiBold !important;
  padding-bottom: 5px;
  padding-top: 20px;
}
.userDropDownHeading {
  font-size: 1.125rem !important;
  line-height: 19px;
  color: #06425C;
  font-family: Montserrat-SemiBold !important;
}
/* .formControl {
  margin: .5rem 0;
  width: 100%;
} */
.formControl {
  width: 100%;
  /* margin: .5rem 0; */
}
/* .spacer {
  padding: .75rem 0;
} */
.spacerRight {
  margin-right: 30px !important;
}

.labelName {
  font-size: 16px !important;
  color: #06425C;
  font-family: 'Montserrat-SemiBold' !important;
  line-height: 19px !important;
}
.labelValue {
  font-size: 16px !important;
  color: #666666;
  font-family: 'Montserrat-SemiBold' !important;
  line-height: 19px !important;
}
.formControl label {
  font-size: 15px;
  color: #666666 !important;
  font-family: 'Montserrat-Regular' !important;
}
.formControl .MuiSelect-select, .formControl input, .formControl textarea {
  color: #000000;
  line-height: 19px;
  font-family: 'Montserrat-Regular';
  font-size: 15px;
}
.checkRadioLabel {
  font-size: 16px !important;
  color: #666666 !important;
  font-family: 'Montserrat-SemiBold' !important;
  line-height: 19px;
}
.selectLabel .MuiFormControlLabel-label {
  font-size: 15px;
  font-family: 'Montserrat-Medium' !important;
  line-height: 19px;
  color: #737373;
}


.buttonStyle {
  margin-right: 15px !important;
  font-size: 16px !important;
  text-transform: none !important;
  color: #ffffff !important;
  padding: 5px 20px !important;
}
.buttonStyle span {
  font-family: 'Montserrat-SemiBold' !important;
  font-size: 0.875rem;
}
.buttonStyleNew {
  font-size: 14px !important;
  text-transform: none !important;
  color: #ffffff !important;
  padding: 5px 20px !important;
}
.buttonStyleDropdown {
  background-color: #7890A4 !important;
  font-size: 0.875rem !important;
  text-transform: none !important;
  color: #ffffff !important;
  padding: 5px 20px !important;
}
.buttonStyleDropdown:hover {
  background-color: #F28705 !important;
}
.quickActionSection nav {
  background-color: #7890A4;
}
.rightSectiondetail {
  background-color: #06425C;
  font-size: 18px !important;
  color: #ffffff;
  line-height: 22px;
  padding: 20px 16px;
  border-radius: 10px 10px 0px 0px;
}
.quickActionSection nav {
  padding-top: 0px;
  padding-bottom: 5px;
  border-radius: 0px 0px 6px 6px;
}

.quickActionSectionLink {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: 'Montserrat-Regular';
  line-height: 18px;
  margin: 4px 0;
}

.quickActionSectionLink:hover {
  color: white !important;
}

.quickActionSection nav div a, .quickActionSection nav li a {
  width: 100%;
}
.quickActionSection nav div:hover, .quickActionSection nav li:hover{
  background-color: #ff8533;
  box-shadow: none;
}
.quickActionSection nav div a:hover {
  background-color: transparent;
}
.quickActionSection nav div a:hover, .quickActionSection nav li a:hover {
  text-decoration: none;
}
.quickActionSection nav div a .MuiListItemText-root span, .quickActionSection nav li a .MuiListItemText-root span {
  font-size: 14px;
  font-family: 'Montserrat-Regular' !important;
  line-height: 18px;
  color: #ffffff;
}
.quickActionSection nav .MuiListItemIcon-root {
  color: #ffffff;
}
.paddTBRemove {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.commentsShowSection  {
  /* margin-top: -30px !important; */
  margin-bottom: 30px !important;
}
.paddTRemove {
  padding-top: 0px !important;
}
.paddBRemove {
  padding-bottom: 0px !important;
}
.viewLabel {
  font-size: 14px;
  font-family: 'Montserrat-Regular' !important;
  color: #7692A4 !important;
  line-height: 18px;
}
.viewLabelValue {
  font-size: 14px !important;
  font-family: 'Montserrat-Medium' !important;
  color: #666666;
  line-height: 18px;
}
.viewLabelValueListTag .MuiListItemText-secondary {
  font-size: 14px !important;
  font-family: 'Montserrat-Medium' !important;
  color: #666666;
  line-height: 18px;
}
.viewLabelValueListTag .MuiListItemText-primary {
  font-size: 14px;
  font-family: 'Montserrat-Regular' !important;
  color: #7692A4 !important;
  line-height: 18px;
}
.attachmentCenter, .attachmentCenter input {
  margin-bottom: 0px;
}
.buttonActionArea {
  margin-top: 28px !important;
}
.catDrawerSection {
  z-index: -9;
}

.containerPositionL {
  float: right;
}

/* Attachment style component */
.chooseFileDesign {
  font-size: 15px;
  color: #737373;
  font-family: 'Montserrat-Medium';
  padding-top: 15px;
  margin-bottom: 5px;
}
.chooseFileDesign span {
  margin-left: 5px;
  padding: 6px 12px;
  border: 1px solid #06425C;
  border-radius: 6px;
  color: #06425C;
  font-size: 14px;
  font-family: 'Montserrat-Regular';
}
.attachFileThumb {
  width: 150px;
  float: left;
  display: inline-block;
  margin-right: 5px;
}
.attachFileThumb button {
  padding: 0px;
}
.attachFileThumbEnry {
  width: 62px;
  float: left;
  display: inline-block;
  margin-right: 5px;
}
.attachFileStyle {
  width: 100px;
  border-radius: 8px;
  height: 100px;
}
.attachFileStylethum {
  width: 60px;
  border-radius: 8px;
  height: 60px;
}
.attachContent {
  padding-right: 15px;
}
.attachContent p {
  font-size: 14px;
  font-family: 'Montserrat-Regular';
  line-height: 18px;
  color: #666666;
  padding-top: 5px;
  margin-bottom: 0px;
  text-align: left;
}
.attachContent button {
  text-align: center;
}
.textCenter {
  justify-content: center;
  text-align: center;
}
li.MuiMenuItem-root.textCenterButton {
  justify-content: center;
  text-align: center;
  padding-bottom: 12px;
  padding-top: 18px;
}
ul.MuiMenu-list a.textCenter {
  justify-content: center;
}
ul.MuiMenu-list a.textCenter .MuiAvatar-root {
  width: 64px;
  height: 64px;
}
ul.MuiMenu-list a svg {
  margin-right: 8px;
}
ul.MuiMenu-list a ul li {
  text-align: center;
}
li.MuiMenuItem-root.textCenter {
  justify-content: center;
  margin-right: 0px !important;
  padding-top: 16px;
}
a.MuiMenuItem-root.userText {
  padding: 16px 16px 16px 30px;
  font-size: 1rem;
  color: #666666;
}
.MuiAvatar-root.MuiAvatar-circle.avtaProfile {
  height: 25px;
  width: 25px;
  margin-right: 8px;
}
ul.MuiMenu-list a ul li.userName {
  color: #06425C;
  font-family: 'Montserrat-SemiBold';
}
.checkedUnclick {
  pointer-events: none;
}

.MuiDialogTitle-root:after {
  background: transparent !important;
}
.MuiDialogContent-root {
  word-break: normal;
}

/* Table style component */
.simpleTableSection, .MuiTableBody-root {
  border: 1px solid #E7E7E7;
}

.tabContentDesign {
  color: inherit;
  border: 1px solid #e4e4e4;
  padding: 12px 5px 5px 5px;
  box-shadow: 1px 1px 13px #e6e6e6;
  border-radius: 2px;
  margin-bottom: 0px;
  background-color: #ffffff;
}
.tabContentDesign button {
  color: #ffffff;
  padding: 10px;
  min-width: 100px;
  max-height: 40px;
  min-height: 40px;
  margin-left: 5px;
  margin-right: 6px;
  border-radius: 5px 5px 5px 5px;
  background-color: #06425c;
}
.avtarCenter {
  margin: 4px auto auto auto;
}  
.userPrigileGrid .avtarCenter {
  width: 56px;
  height: 56px;
}
.userPrigileGrid {
  padding: 16px 16px 4px 16px !important;
}
.pTopFour {padding-top: 4px !important}
.userDropDown {
  padding: 2px;
  font-size: 1rem !important;
  color: #666666;
  font-family: 'Montserrat-Medium' !important;
  line-height: 19px !important;
}
.userDropDownLast {
  padding: 2px 2px 30px 2px;
  font-size: 1rem !important;
  color: #666666;
  font-family: 'Montserrat-Medium' !important;
  line-height: 19px !important;
}

.tabContentDesign button.Mui-selected, .tabContentDesign button:hover {
  background-color: #ff8533;
  color: #ffffff;
}
.tableHeadCellFirst {
  background-color: #06425c;
  color: #ffffff !important;
  padding: 10px 16px !important;
}
.tableHeadCellSecond {
  background-color: #06425c;
  color: #ffffff !important;
}

.dataTableSectionDesign table {
  margin-top: 0px;
}
.dataTableSectionDesign table thead tr th {
  background-color: #06425c;
  color: #ffffff;
}
.dataTableSectionDesign table thead tr th:nth-last-child(1) {
  border-top-right-radius: 6px;
}
.dataTableSectionDesign table thead tr th:nth-child(1) {
  border-top-left-radius: 6px;
}
.dataTableSectionDesign .MuiButton-text {
  padding: 0px 8px;
}

.dataTableSectionDesign table thead tr th button span div div {
  color: #ffffff !important;
}
.dataTableSectionDesign .MuiTableSortLabel-root.MuiTableSortLabel-active {
  color: #ffffff;
}
.dataTableSectionDesign .MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active .MuiTableSortLabel-icon {
  color: #ffffff;
}

.simpleTableDesign thead tr th:first-child {
  border-top-left-radius: 8px;
}
.simpleTableDesign thead tr th:last-child {
  border-top-right-radius: 8px;
}
.simpleTableDesign tbody tr td a {
  cursor: pointer;
}
.simpleTableDesign tbody tr td.MuiTableCell-root, .simpleTableDesign thead tr th.MuiTableCell-root {
  text-align: center;
}
.simpleTableDesign tbody tr td.MuiTableCell-root button {
  padding: 0px;
}
.simpleTableDesign tbody tr td.MuiTableCell-root {
  padding: 6px;
}

/*Kanban css*/
.MuiTypography-subtitle2 {
  font-family: Montserrat-Regular !important;
}

/* Accodion style component */
.accordionHeaderSection {
  background-color: #7890A4 !important;
  color: #ffffff !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  margin-bottom: 15px !important;
}
.accordionSubHeaderSection {
  background-color: #F1F1F1 !important;
  color: #666666 !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  margin-bottom: 15px !important;
}
.backPaperAccordian {
  border: 0px solid #06425c;
  border-radius: 10px !important;
  box-shadow: 0px 0px 0px 1px #7890a4 !important;
  margin: 0px 0px 20px 0px !important;
}
.backPaperAccordianMTNone {
  border: 0px solid #06425c;
  border-radius: 10px !important;
  box-shadow: 0px 0px 0px 1px #7890a4 !important;
  margin: 0px 0px 0px 0px !important;
}
.backPaperAccordianMTNone .accordionHeaderSection {
  border-radius: 10px;
}
.backPaperAccordianMTNone .accordionHeaderSection.Mui-expanded {
  border-radius: 0px;
}
.backPaperSubAccordian {
  border: 0px solid #EDEDED;
  border-radius: 10px !important;
  box-shadow: 0px 0px 0px 1px #EDEDED !important;
  margin: 0px 0px 0px 0px !important;
}
.backPaperSubAccordianWithMargin {
  border: 0px solid #EDEDED;
  border-radius: 10px !important;
  box-shadow: 0px 0px 0px 1px #EDEDED !important;
  margin: 0px 0px 20px 0px !important;
}
.backPaperSubAccordian.MuiAccordion-root:before, .backPaperSubAccordianWithMargin.MuiAccordion-root:before {
  top: 2px;
  content: "";
}
.backPaperAccordian:not(.Mui-expanded) .accordionHeaderSection {
  border-radius: 10px !important;
}
.backPaperSubAccordian:not(.Mui-expanded) .accordionSubHeaderSection {
  border-radius: 10px !important;
}
.backPaperSubAccordianWithMargin:not(.Mui-expanded) .accordionSubHeaderSection {
  border-radius: 10px !important;
}
.accordionHeaderSection:not(.Mui-expanded) {
  margin-bottom: 0px !important;
}
.accordionSubHeaderSection:not(.Mui-expanded) {
  margin-bottom: 0px !important;
}
.MuiAccordionSummary-root:hover:not(.Mui-disabled) {
  cursor: pointer;
}

.accordionHeaderSection .MuiAccordionSummary-content {
  margin: 0px 0px !important;
}
.accordionSubHeaderSection .MuiAccordionSummary-content {
  margin: 0px 0px !important;
}
.accordionHeaderSection .MuiAccordionSummary-content ul li .MuiListItemText-root .MuiListItemText-primary {
  font-size: 15px;
  font-family: 'Montserrat-Regular' !important;
  white-space: break-spaces;
}
.accordionSubHeaderSection .MuiAccordionSummary-content ul li .MuiListItemText-root .MuiListItemText-primary {
  font-size: 15px;
  font-family: 'Montserrat-Regular' !important;
}
.accordionHeaderSection .MuiIconButton-label svg {
  color: #ffffff;
}
.accordionSubHeaderSection .MuiIconButton-label svg {
  color: #666666;
}
/* .formFieldBTNSection {
  text-align: center;
} */
.formFieldBTNSection button {
  margin-top: 12px;
  background-color: #7890A4;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Montserrat-SemiBold' !important;
  text-transform: none;
}
.formFieldBTNSection button:hover {
  background-color: #ff8533;
  border-color: #ff8533;
}
.formFieldBTNSectionAdd button {
  margin-bottom: 12px;
  background-color: #7890A4;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Montserrat-SemiBold' !important;
  text-transform: none;
}
.formFieldBTNSectionAdd button:hover {
  background-color: #ff8533;
  border-color: #ff8533;
}
.tableFileAttach {
  margin: 0px;
  width: auto !important;
  cursor: pointer;
}

.filePathWithDelet {
  font-size: 14px;
  color: #7890A4;
  font-family: 'Montserrat-Regular';
}
.filePathWithDelet button {
  color: #7890A4;
}

.MuiTableContainer-root {
  overflow-x: inherit !important;
}
.MuiTableContainer-root .MuiTable-root {
  margin: 0px;
}

.attachfileListBox {
  max-width: 24rem;
  width: 100%;
  float: left;
  display: block;
}
.attachfileListBox li {
  padding: 0.375rem 0rem;
}
.attachfileListBox li button {
  float: right;
  margin-top: 0.125rem;
}
.attachfileListBox li button svg {
  color: #7890a4;
}

.sectionSubHeading .subsectiontitle {
  background-color: #ffffff;
  padding: 25px 22px 25px 22px;
}
.sectionSubHeading .subsectiontitle .sectionHeading {
  padding-bottom: 0px;
  padding-top: 0px;
}


.SummaryTabList li{
  display: inline-block;
  margin-right: 15px;
}
.SummaryTabList li button.MuiButton-containedPrimary:hover {
  border-color: #ff8533;
}

.jobProjecttitle span {
  font-size: 12px;
  line-height: 19px;
  display: inline-block;
  padding-top: 5px;
}
.tableIconalign svg {
  margin-left: 15px;
  color: #7890A4;
}
.marginT0 {
  margin-top: 0px !important;
}
.marginT10 {
  margin-top: 10px !important;
}
.marginT15 {
  margin-top: 15px !important;
}
.marginT20 {
  margin-top: 20px !important;
}
.marginB15 {
  margin-bottom: 15px !important;
}
.marginBRemove {
  margin-bottom: 0px !important;
}
.blockBGColor {
  background-color: #06425C !important;
}
/*below code is diff then html Css bcz of initial version tab which only in deploment not in design*/
.blockBGColor .formControl .MuiSelect-select {
  color: #ffffff !important;
}
.versionTabBox {
  margin-top: 30px !important;
}
.reviseCount {
  margin-top: 4px !important;
}
.inlineListBTN .MuiListItem-root {
  display: inline;
  margin-right: 10px;
  color: #ffffff;
  padding: 12px 15px;
  margin-top: 30px; /* not in html css*/
}
.inlineListBTN .MuiListItem-button {
  display: inline;
  margin-right: 10px;
  background-color: #7890A4;
  color: #ffffff;
  border-radius: 3px;
}
.inlineListBTN .MuiListItem-button:hover, .inlineListBTN .MuiListItem-button.active  {
  background-color: #F28705;
}
.inlineListBTN .MuiListItemText-root {
  display: inline-block;
}
.formWithBG label, .formWithBG svg  {
  color: #ffffff !important;
}
.formWithBG fieldset, .formWithBG .MuiInputBase-root:hover  {
  border-color: #ffffff !important;
}
.inlineListBTN .btnNoneLink {
  background-color: transparent;
}
.inlineListBTN .btnNoneLink:hover, .inlineListBTN .btnNoneLink:hover span {
  background-color: transparent;
  text-decoration: underline;
}
/* .rangeLableBox {

} */

.attachFileBtn button {
  text-transform: none;
}

/* .attactmentShowSection, .commentsShowSection {
  margin-top: -30px !important;
} */
.attactmentShowSection ul, .commentsShowSection ul{
  display: inline;
}
.attactmentShowSection ul li, .commentsShowSection ul li {
  display: inline;
  padding: 0px 5px;
}
.attactmentShowSection ul li img, .commentsShowSection ul li img {
  width: 120px;
  height: 80px;
  border-radius: 5px;
}
.listGapRemove li {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
}

.listingLabelValue {
  color: #333333;
  font-size: 0.88rem;
  font-family: Montserrat-Regular;
}
.statusColor_complete {
  color: darkgreen;
}
.marginB10 {
  margin-bottom: 10px;
}

/* Comment section */
.commentUserTitle {
  color: #666666;
  font-family: 'Montserrat-SemiBold';
  font-size: 16px;
  line-height: 19px;
}
.commentTimeDateTitle  {
  font-size: 14px !important;
  font-family: 'Montserrat-Regular' !important;
  color: #666666;
  line-height: 26px !important;
  font-weight: 400 !important;
}
.commentText {
  font-size: 14px;
  color: #666666;
  font-family: 'Montserrat-Medium' !important;
}
.commentActionBox {
  padding-top: 10px;
}
.commentActionBox a {
  color: #06425C;
  font-family: 'Montserrat-Medium';
  font-size: 14px;
  line-height: 18px;
  text-decoration: underline;
  cursor: pointer;
}
.verticalSepareterLine {
  height: 8px;
  margin: 15px 10px 15px 10px;
  font-size: 15px;
  border-left: 2px solid #cccccc;
  vertical-align: middle;
}
.commentMoreLinkTitle a {
  font-size: 14px !important;
  font-family: 'Montserrat-Medium' !important;
  color: #06425C;
  line-height: 26px !important;
  text-decoration: underline;
}
.commentThanksRightSection {
  vertical-align: text-top;
  float: right;
}
.commentThanksRightSection span {
  font-size: 14px;
  font-family: 'Montserrat-Regular';
  color: #666666;
}
.assessmentPageIcon {
  background-position: -282px -405px;
}
.flhaPageIcon {
  background-position: -921px -405px !important;
}
.iCarePageIcon {
  background-position: -120px -405px !important;
}
.jsaPageIcon {
  background-position: -1000px -405px !important;
}
.ahaPageIcon {
  background-position: -1082px -405px !important;
}
.customDropdownPageIcon {
  height: 40px;
  width: 40px;
  display: block;
  background: url(../../../public/images/leftMenuIcons.png) no-repeat;
  float: left;
}
.homePageIcon {
  background-position: -760px -405px;
}
.customDropdownPageFlhaIcon {
  height: 40px;
  /* width: 40px; */
  display: block;
  background: url(../../../public/images/leftMenuIcons.png) no-repeat;
  float: left;
}
.mainPageTitleBox h5{
  width: calc(100% - 40px);
  float: left;
  padding-left: 5px;
}
.mainPageTitleBox {
  display: inline-flex;
}

/* Activity */
.filterTitle {
  font-size: 16px !important;
  font-family: 'Montserrat-SemiBold' !important;
  color: #666666;
  padding-top: 15px;
  text-align: right;
}
.AccordionTransparent {
  border: none;
  box-shadow: 0px 0px 0px 0px #06425c !important;
}
.AccordionTransparentTitle {
  padding: 0px !important;
}
.AccordionTransparentTitle .MuiIconButton-label {
  border: 1px solid #06425C;
}
.AccordionTransparentTitle .MuiIconButton-label svg {
  color: #06425C;
}
.ActivityHistorySection, .ActivityHistorySection ul {
  padding: 0px !important;
}
.ActivityHistorySection .MuiTimelineItem-missingOppositeContent:before {
  display: none;
}
.ActivityHistorySection ul li .MuiTimelineContent-root {
  padding-right: 0px;
  margin-bottom: 15px;
}  
.ActivityHistorySection .MuiTimelineItem-missingOppositeContent .MuiTimelineSeparator-root {
  min-width: 60px;
}
.ActivityHistorySection .MuiTimelineItem-missingOppositeContent .MuiTimelineSeparator-root span {
  font-size: 14px;
  color: #666666;
  font-family: 'Montserrat-Regular';
  line-height: 18px;
}
.ActivityHistorySection ul li .ActivityUserDetails, .ActivityHistorySection ul li .ActivityUserDesignation {
  text-align: left;
}
.ActivityHistorySection ul li .ActivityUserDetails {
  color: #666666;
  font-size: 16px;
  font-family: 'Montserrat-SemiBold' !important;
  line-height: 22px;
}
.ActivityHistorySection ul li .ActivityUserDetails  {
  color: #666666;
  font-size: 16px;
  font-family: 'Montserrat-SemiBold' !important;
  line-height: 22px;
}
.ActivityHistorySection ul li .ActivityUserDetails span {
  color: #666666;
  font-size: 14px;
  font-family: 'Montserrat-Regular' !important;
  line-height: 22px;
}
.ActivityHistorySection ul li .ActivityUserDetails span b {
  color: #06425C;
  font-size: 14px;
  font-family: 'Montserrat-SemiBold' !important;
  line-height: 22px;
  padding-left: 8px
}
.ActivityHistorySection ul li .ActivityUserDesignation {
  color: #666666;
  font-size: 14px;
  font-family: 'Montserrat-Regular' !important;
}
.AccordionTransparentTitle .MuiAccordionSummary-content, .AccordionTransparentTitle .MuiAccordionSummary-content {
  margin: 0px 0 0px 0px;
}
.activityAccodTitle {
  font-size: 16px !important;
  line-height: 19px;
  color: #06425C;
  font-family: Montserrat-SemiBold !important;
  padding-bottom: 0px;
  padding-top: 0px;
}

.paginationListSection {
  text-align: right;
}
.paginationListSection ul {
  display: inline-block;
  width: 100%;
}
.paginationListSection ul li {
  display: inline-block;
}
.paginationListSection ul li a {
  padding: 3px 5px;
  color: #666666;
  font-size: 14px;
  font-family: 'Montserrat-Regular';
  line-height: 18px;
  cursor: pointer;
}
.paginationListSection ul li.newerNav a, .paginationListSection ul li.olderNav a{
  padding: 3px 5px;
  color: #06425C;
  font-size: 14px;
  font-family: 'Montserrat-Medium';
  line-height: 18px;
  cursor: pointer;
}
.paginationListSection ul li.newerNav a {
  margin-right: 5px;
}
.paginationListSection ul li.olderNav a {
  margin-left: 5px;
}
.paginationListSection ul li.newerNav a svg, .paginationListSection ul li.olderNav a svg{
  padding: 0px 1px;
  color: #06425C;
  font-size: 14px;
  font-family: 'Montserrat-Medium';
  line-height: 18px;
  cursor: pointer;
}


/* Control Tower */
.controlTowerFilter  {
  margin-top: 5px!important;
}
.controlTowerFilter .inlineListBTN .btnNoneLink {
  background-color: transparent !important;
  color: #06425C !important;
  padding: 12px 5px;
  margin: 0px;
}
.controlTowerFilter .inlineListBTN .btnNoneLink .MuiTypography-body1 {
  font-size: 11px;
  font-family: 'Montserrat-Medium' !important;
  text-decoration: underline;
  line-height: 20px;
}
.controlTowerFilter .inlineListBTN .btnNoneLink .rangeLabelTitle span {
  font-size: 11px;
  font-family: 'Montserrat-Medium' !important;
  text-decoration: none;
  line-height: 18px;
}
.controlTowerFilter .inlineListBTN .MuiListItem-button {
  display: inline;
  background-color: #7890A4;
  margin-right: 0px;
  font-family: 'Montserrat-SemiBold' !important;
  text-transform: none;
  border-radius: 20px;
}
.controlTowerFilter .inlineListBTN .MuiListItem-button:hover {
  background-color: #ff8533;
  border-color: #ff8533;
}
.controlTowerFilter .inlineListBTN .MuiListItem-button .MuiTypography-body1 {
  font-size: 13px;
  font-family: 'Montserrat-Medium' !important;
  line-height: 18px;
}
.preferrlist li {
  padding: 0px;
}
.preferrlist li a {
  cursor: pointer;
}

.customTabLebl {
  color: #ffffff !important;
  background-color: #7890A4 !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
  border-radius: 4px !important;
}
.customTabLebl.Mui-selected {
  background-color: #ff8533 !important;
  border-color: #ff8533;
}
.MuiTabs-indicator {
  display: none;
}
.tabContentArea {
  /* margin-left: 5px;
  margin-right: 5px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc; */
}

/* .MuiList-padding {
  margin-top: 30px !important;
} */
.dateRangeSection {
  position: absolute;
  right: 0px;
  margin-top: 15px;
}

.tabContentArea .MuiBox-root {
  padding: 0px;
}
.multiSelectChek .formControl .MuiInputLabel-shrink {
  background-color: #ffffff;
  padding-right: 5px;
  padding-left: 3px;
}


/* Left menu custom style */
.incident-managementMenu, .homeMenu, .icareMenu, .assessmentsMenu, .complianceMenu, .administrationMenu, .controlTowerMenu, .flhaMenu, .jhaMenu, .ahaMenu, .dropdown_listsMenu, .check_listsMenu, .compliance_configMenu{
  border-radius: 0 0px 0px 0 !important;
  padding-left: 15px !important;
}

.homeMenu .MuiListItemIcon-root {
  background: url(../../../public/images/leftMenuIcons.png) no-repeat -675px -16px;
  margin-right: 16px;
}
.incident-managementMenu .MuiListItemIcon-root {
  background: url(../../../public/images/leftMenuIcons.png) no-repeat -740px -16px;
  margin-right: 16px;
}
.assessmentsMenu .MuiListItemIcon-root {
  background: url(../../../public/images/leftMenuIcons.png) no-repeat  -227px -16px;
  margin-right: 16px;
}
.administrationMenu .MuiListItemIcon-root {
  background: url(../../../public/images/leftMenuIcons.png) no-repeat -22.313rem -1rem;
  margin-right: 1rem;
}
.icareMenu .MuiListItemIcon-root {
  background: url(../../../public/images/leftMenuIcons.png) no-repeat -98px -16px;
  margin-right: 16px;
}
.controlTowerMenu .MuiListItemIcon-root {
  background: url(../../../public/images/leftMenuIcons.png) no-repeat -292px -16px;
  margin-right: 16px;
}
.complianceMenu .MuiListItemIcon-root {
  background: url(../../../public/images/leftMenuIcons.png) no-repeat -163px -16px;
  margin-right: 16px;
}
 
.incident-managementMenu.selectmenu .MuiListItemIcon-root,
/* .incidentManagMenu.selectmenu:hover .MuiListItemIcon-root,
.incidentManagMenu:hover .MuiListItemIcon-root,
.incidentManagMenu:hover .MuiListItemText-root span, */
.incident-managementMenu.selectmenu:hover .MuiListItemText-root span,
.incident-managementMenu.selectmenu .MuiListItemText-root span,
.incident-managementMenu:hover,
.incident-managementMenu.selectmenu:hover,
.incident-managementMenu.selectmenu,



.homeMenu.selectmenu .MuiListItemIcon-root,
/* .homeMenu.selectmenu:hover .MuiListItemIcon-root,
.homeMenu:hover .MuiListItemIcon-root,
.homeMenu:hover .MuiListItemText-root span, */
.homeMenu.selectmenu:hover .MuiListItemText-root span,
.homeMenu.selectmenu .MuiListItemText-root span,
.homeMenu:hover,
.homeMenu.selectmenu:hover,
.homeMenu.selectmenu,

.icareMenu.selectmenu .MuiListItemIcon-root,
/* .icareMenu.selectmenu:hover .MuiListItemIcon-root,
.icareMenu:hover .MuiListItemIcon-root,
.icareMenu:hover .MuiListItemText-root span, */
.icareMenu.selectmenu:hover .MuiListItemText-root span,
.icareMenu.selectmenu .MuiListItemText-root span,
.icareMenu:hover,
.icareMenu.selectmenu:hover,
.icareMenu.selectmenu,

.assessmentsMenu.selectmenu .MuiListItemIcon-root,
/* .assessmentsMenu.selectmenu:hover .MuiListItemIcon-root,
.assessmentsMenu:hover .MuiListItemIcon-root,
.assessmentsMenu:hover .MuiListItemText-root span, */
.assessmentsMenu.selectmenu:hover .MuiListItemText-root span,
.assessmentsMenu.selectmenu .MuiListItemText-root span,
.assessmentsMenu:hover,
.assessmentsMenu.selectmenu:hover,
.assessmentsMenu.selectmenu,


.complianceMenu.selectmenu .MuiListItemIcon-root,
/* .complianceMenu.selectmenu:hover .MuiListItemIcon-root,
.complianceMenu:hover .MuiListItemIcon-root,
.complianceMenu:hover .MuiListItemText-root span, */
.complianceMenu.selectmenu:hover .MuiListItemText-root span,
.complianceMenu.selectmenu .MuiListItemText-root span,
.complianceMenu:hover,
.complianceMenu.selectmenu:hover,
.complianceMenu.selectmenu,

.administrationMenu.selectmenu .MuiListItemIcon-root,
/* .administrationMenu.selectmenu:hover .MuiListItemIcon-root,
.administrationMenu:hover .MuiListItemIcon-root,
.administrationMenu:hover .MuiListItemText-root span, */
.administrationMenu.selectmenu:hover .MuiListItemText-root span,
.administrationMenu.selectmenu .MuiListItemText-root span,
.administrationMenu:hover,
.administrationMenu.selectmenu:hover,
.administrationMenu.selectmenu,

.controlTowerMenu.selectmenu .MuiListItemIcon-root,
/* .controlTowerMenu.selectmenu:hover .MuiListItemIcon-root,
.controlTowerMenu:hover .MuiListItemIcon-root,
.controlTowerMenu:hover .MuiListItemText-root span, */
.controlTowerMenu.selectmenu:hover .MuiListItemText-root span,
.controlTowerMenu.selectmenu .MuiListItemText-root span,
.controlTowerMenu:hover,
.controlTowerMenu.selectmenu:hover,
.controlTowerMenu.selectmenu{
  background-position-y: -80px;
  color: #ffffff !important;
  background-color: #ff8533 !important;
}
.homeMenu:hover .MuiListItemIcon-root,
.icareMenu:hover .MuiListItemIcon-root,
.incident-managementMenu:hover .MuiListItemIcon-root,
.complianceMenu:hover .MuiListItemIcon-root,
.controlTowerMenu:hover .MuiListItemIcon-root,
.assessmentsMenu:hover .MuiListItemIcon-root, 
.administrationMenu:hover .MuiListItemIcon-root {
  background-position-y: -80px;
}


/* Left sub menu custom style */
.flhaMenu, .jhaMenu, .ahaMenu , .dropdown_listsMenu, .check_listsMenu, .compliance_configMenu{
  position: relative;
}
.MuiList-dense.MuiList-padding {
  padding-top: 0px;
}
.flhaMenu .MuiTypography-colorTextSecondary,
.jhaMenu .MuiTypography-colorTextSecondary,
.ahaMenu .MuiTypography-colorTextSecondary,
.dropdown_listsMenu .MuiTypography-colorTextSecondary,
.check_listsMenu .MuiTypography-colorTextSecondary,
.compliance_configMenu .MuiTypography-colorTextSecondary
 {
  position: absolute;
  left: 72px;
  top: 10px;
  left: -8px;
}
.flhaMenu .MuiListItemText-inset,
.jhaMenu .MuiListItemText-inset,
.ahaMenu .MuiListItemText-inset,
.dropdown_listsMenu .MuiListItemText-inset,
.check_listsMenu .MuiListItemText-inset,
.compliance_configMenu .MuiListItemText-inset
{
  padding-left: 60px;
}
.flhaMenu .MuiListItemText-inset > span,
.jhaMenu .MuiListItemText-inset > span,
.ahaMenu .MuiListItemText-inset > span,
.dropdown_listsMenu .MuiListItemText-inset > span,
.check_listsMenu .MuiListItemText-inset > span,
.compliance_configMenu .MuiListItemText-inset > span {
  padding-left: 48px;
}

.flhaMenu .MuiTypography-colorTextSecondary .leftCustomImg,
.jhaMenu .MuiTypography-colorTextSecondary .leftCustomImg,
.ahaMenu .MuiTypography-colorTextSecondary .leftCustomImg,
.dropdown_listsMenu .MuiTypography-colorTextSecondary .leftCustomImg,
.check_listsMenu .MuiTypography-colorTextSecondary .leftCustomImg,
.compliance_configMenu .MuiTypography-colorTextSecondary .leftCustomImg 
  {
  position: absolute;
  top: 0px;
  left: 90px;
}
.flhaMenu .leftCustomImg {
  background: url(../../../public/images/leftMenuIcons.png) no-repeat -803px -16px;
  margin-right: 5px; 
}
.jhaMenu .leftCustomImg {
  background: url(../../../public/images/leftMenuIcons.png) no-repeat -867px -16px;
  margin-right: 5px; 
}
.ahaMenu .leftCustomImg {
  background: url(../../../public/images/leftMenuIcons.png) no-repeat -931px -16px;
  margin-right: 5px; 
}
.dropdown_listsMenu .leftCustomImg {
  background: url(../../../public/images/leftMenuIcons.png) no-repeat -26.375rem -1rem;
}
.check_listsMenu .leftCustomImg {
  background: url(../../../public/images/leftMenuIcons.png) no-repeat -30.188rem -1rem;
}

.compliance_configMenu .leftCustomImg {
  background: url(../../../public/images/leftMenuIcons.png) no-repeat -62.125rem -1rem;
}

.flhaMenu.selectmenu .MuiListItemText-root span,
.flhaMenu.selectmenu .MuiListItemText-root .MuiListItemText-secondary .leftCustomImg,
.flhaMenu.selectmenu:hover .MuiListItemText-root .MuiListItemText-secondary .leftCustomImg,
.flhaMenu.selectmenu:hover .MuiListItemText-root span,
/* .dropdown_listsMenu:hover .MuiListItemText-root span, */
.flhaMenu:hover,
.flhaMenu.selectmenu:hover,
.flhaMenu.selectmenu,

.jhaMenu.selectmenu .MuiListItemText-root span,
.jhaMenu.selectmenu .MuiListItemText-root .MuiListItemText-secondary .leftCustomImg,
.jhaMenu.selectmenu:hover .MuiListItemText-root .MuiListItemText-secondary .leftCustomImg,
.jhaMenu.selectmenu:hover .MuiListItemText-root span,
/* .dropdown_listsMenu:hover .MuiListItemText-root span, */
.jhaMenu:hover,
.jhaMenu.selectmenu:hover,
.jhaMenu.selectmenu,

.ahaMenu.selectmenu .MuiListItemText-root span,
.ahaMenu.selectmenu .MuiListItemText-root .MuiListItemText-secondary .leftCustomImg,
.ahaMenu.selectmenu:hover .MuiListItemText-root .MuiListItemText-secondary .leftCustomImg,
.ahaMenu.selectmenu:hover .MuiListItemText-root span,
/* .dropdown_listsMenu:hover .MuiListItemText-root span, */
.ahaMenu:hover,
.ahaMenu.selectmenu:hover,
.ahaMenu.selectmenu,

.dropdown_listsMenu.selectmenu .MuiListItemText-root span,
.dropdown_listsMenu.selectmenu .MuiListItemText-root .MuiListItemText-secondary .leftCustomImg,
.dropdown_listsMenu.selectmenu:hover .MuiListItemText-root .MuiListItemText-secondary .leftCustomImg,
.dropdown_listsMenu.selectmenu:hover .MuiListItemText-root span,
/* .dropdown_listsMenu:hover .MuiListItemText-root span, */
.dropdown_listsMenu:hover,
.dropdown_listsMenu.selectmenu:hover,
.dropdown_listsMenu.selectmenu,

.check_listsMenu.selectmenu .MuiListItemText-root span,
.check_listsMenu.selectmenu .MuiListItemText-root .MuiListItemText-secondary .leftCustomImg,
.check_listsMenu.selectmenu:hover .MuiListItemText-root .MuiListItemText-secondary .leftCustomImg,
.check_listsMenu.selectmenu:hover .MuiListItemText-root span,
/* .check_listsMenu:hover .MuiListItemText-root span, */
.check_listsMenu:hover,
.check_listsMenu.selectmenu:hover,
.check_listsMenu.selectmenu
{
  background-position-y: -80px;
  color: #ffffff !important;
  background-color: #ff8533 !important;
}
.flhaMenu:hover .MuiListItemText-root span,
.jhaMenu:hover .MuiListItemText-root span,
.ahaMenu:hover .MuiListItemText-root span,
.dropdown_listsMenu:hover .MuiListItemText-root span,
.check_listsMenu:hover .MuiListItemText-root span,
.compliance_configMenu:hover .MuiListItemText-root span

 {
  background-position-y: -80px;
}

.compliance_configMenu.selectmenu .MuiListItemText-root span,
.compliance_configMenu.selectmenu .MuiListItemText-root .MuiListItemText-secondary .leftCustomImg,
.compliance_configMenu.selectmenu:hover .MuiListItemText-root .MuiListItemText-secondary .leftCustomImg,
.compliance_configMenu.selectmenu:hover .MuiListItemText-root span,
/* .compliance_configMenu:hover .MuiListItemText-root span, */
.compliance_configMenu:hover,
.compliance_configMenu.selectmenu:hover,
.compliance_configMenu.selectmenu
{
  background-position-y: -5rem;
  color: #ffffff !important;
  background-color: #ff8533 !important;
}

.leftCustomImg {
  padding: 16px;
}
.highcharts-credits {
  display: none;
}
.assessmentSelectionBox .MuiDialog-paper {
  min-width: 320px;
}
.assessmentSelectionBox .MuiDialogTitle-root {
  margin: 0px;
  padding-bottom: 5px;
}

.loginLogoHead {
  margin-bottom: 30px;
}
.tableActionwidth table thead tr th:nth-last-child(1) {
  width: 124px;
}
@media (max-width: 800px) {
  .catDrawerSection {
    top: 55px;
  }
  .catDrawerSection {
    top: 55px;
  }
  .mainPageTitleBox {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  
}

@media (max-width: 1280px) {
  .catDrawerSection {
    position: absolute;
    right: 0px;
    z-index: 0;
  }
  .catDrawerComplincSection{
    position: absolute;
    right: 0px;
  }
  .contentRightBox {
    margin-right: -0px !important;
  }
}
@media (max-width: 800px) {
  .catDrawerSection {
    top: 55px;
  }
  .catDrawerSection {
    top: 55px;
  }
  
}

@media (max-width: 480px) {
  .catDrawerSection {
    top: 78px;
  }
  .catDrawerComplincSection {
    top: 30px;
  }
  .MuiToolbar-regular {
    min-height: 65px !important;
  }
  .MuiTableContainer-root {
    overflow-x: auto !important;
  }

  .containerPositionL {
    float: left;
  }
  .filterTitle  {
    text-align: left;
  }
  .commentUserDetail {
    margin-top: 15px !important;
  }
  .commentContentSetion {
    padding-top: 0px !important;
  }
  .commentUserTitle, .commentTimeDateTitle {
    text-align: left !important;
  }
}
.paddTBRemove .MuiAvatar-root.MuiAvatar-square.attachFileStyle {
  width: 100px;
  overflow: visible;
  height: 80px;
}

.paddTBRemove .MuiAvatar-root.MuiAvatar-square {
  overflow: visible;
  height: 112px;
  width: 80px;
}

.MuiAvatar-root.MuiAvatar-square.attachFileStyle .MuiAvatar-img {
  border-radius: 10px;
}

.MuiAvatar-root.MuiAvatar-square .MuiAvatar-img {
  border-radius: 10px;
}
.compliancePageIcon {
  background-position: -200px -405px;
}
.paginationSection nav {
  float: right;
}

.tableActionIcons {
  padding: 0.625rem !important;
  color: rgba(0, 0, 0, 0.54) !important;
}
.errorMsgTxt {
  color: #ff0101 !important;
  font-size: 0.75rem !important;
}
.customAddButton {
  background-color: #7890A4 !important;
  font-size: 0.875rem !important;
  text-transform: none !important;
  color: #ffffff !important;
  padding: 0.6rem 0.8em !important;
  border-radius: 1.875rem !important;
}
.customAddButton:hover {
  background-color: #F28705 !important;
}
.customColorPickerSection {
  position: absolute;
  z-index: 1;
  display: contents;
}
.customColorPickerSection .customColorDisplay {
  /* padding: 8px 17px;
  border-radius: 100%; */
  padding: 27px;
  border-radius: 4px;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
.customColorPickerSection .sketch-picker {
  position: absolute;
  right: 90px;
  top: 55px;
}
.accordionCloseIcon {
  position: absolute !important;
  top: 4px;
  right: 45px;
  color: #ffffff !important;
  z-index: 9;
}

.positionRelative {
  position: relative;
}
.complianceConfigPageIcon {
  background-position: -82.563rem -25.313rem;
}
.complianceQuestionPageIcon {
  background-position: -102.626rem -25.313rem;
}
.complianceBulkUplQPageIcon {
  background-position: -107.626rem -25.313rem;
}
.compliancePerFactorPageIcon {
  background-position: -97.626rem -25.313rem;
}
.compliancePerMatrixPageIcon {
  background-position: -92.626rem -25.313rem;
}

/* comment image */ 
.comment-image {
  max-width: 10%;
}